nav{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #cde4ef;
}

.logo{
    height: 50px;
    width: 100px;
}

.btn-fav{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    background-color: #71b7e4;
    border-radius: 5px;
    cursor: pointer;
}

.btn-fav:hover{
    background-color: #72c0f1;
}

.btn-fav p{
    margin: 0;
    color: white;
    font-weight: 500;
}

.cont-api-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.cont-elements{
    position: absolute;
    top: 38px;
    right: 0;
    width: 165px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 10px;
}
.p1{
    background-color: black;
    padding: "0 5px";
    border-radius: "2px";
}
.div-fav{
    display: "flex";
    justify-content: "space-between";
    align-items: "center";
    gap: "15px";

}
.p2{
  color: black;

}
.p3{
    color: black; 
    text-align: "center";
}